a-pytube-fork-for-spotdl-users==9.6.4
aiohttp==3.7.3
anyio==3.6.2
appdirs==1.4.4
apsw==3.28.0.post1
apturl==0.5.2
argon2-cffi==20.1.0
args==0.1.0
asgiref==3.5.2
asn1crypto==0.24.0
astroid==2.3.3
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.11.1
black==19.3b0
bleach==3.2.1
blinker==1.4
Brlapi==0.7.0
Brotli==1.0.9
cachetools==4.2.0
certifi==2019.11.28
cffi==1.14.4
cftime==1.6.2
chardet==3.0.4
charset-normalizer==2.1.1
chrome-gnome-shell==0.0.0
Click==7.0
clingo==5.6.2
clint==0.5.1
cloudpickle==2.2.0
colorama==0.4.3
coloredlogs==14.0
command-not-found==0.3
commonmark==0.9.1
cryptography==2.8
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
dacite==1.6.0
dask==2022.11.1
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
Deprecated==1.2.13
dill==0.3.5.1
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
exceptiongroup==1.0.4
fastapi==0.78.0
fastdtw==0.3.4
feedparser==5.2.1
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
Flask-Cors==4.0.0
fsspec==2022.11.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
h11==0.14.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.0.1
httplib2==0.18.1
humanfriendly==8.2
idna==2.8
ifaddr==0.1.6
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.4
itsdangerous==1.1.0
jaconv==0.3.4
jedi==0.18.0
Jinja2==2.10.1
joblib==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kazam==1.4.5
keyring==18.0.1
keyrings.alt==3.4.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
locket==1.0.0
logilab-common==1.4.3
louis==3.12.0
lxml==4.5.0
lyricwikia==0.1.11
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
markdown-it-py==2.2.0
MarkupSafe==1.1.0
mccabe==0.6.1
mdurl==0.1.2
mechanize==0.4.5
mistune==0.8.4
mpmath==1.2.1
msgpack==0.6.2
multidict==5.1.0
mutagen==1.46.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netCDF4==1.6.2
netifaces==0.10.4
networkx==2.8.8
nose==1.3.7
notebook==6.2.0
ntlm-auth==1.5.0
numpy==1.20.1
oauth==1.0.1
oauthlib==3.1.0
olefile==0.46
packaging==21.3
pandas==1.5.2
pandocfilters==1.4.3
parso==0.8.1
partd==1.3.0
pathlib==1.0.1
pathvalidate==2.5.0
pbr==5.11.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pip-autoremove==0.9.1
pipenv==2021.5.29
platformdirs==2.6.2
pluggy==1.0.0
ply==3.11
portalocker==2.6.0
prometheus-client==0.9.0
prompt-toolkit==3.0.14
protobuf==3.14.0
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pychm==0.8.6
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pycryptodomex==3.11.0
pycups==1.9.73
pydantic==1.10.5
Pygments==2.14.0
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pykakasi==2.2.1
pylatexenc==2.10
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.14.1
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pyrsistent==0.17.3
pysat==3.0.5
pytest==7.2.0
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-slugify==7.0.0
python-twitch-client==0.7.1
pytube==12.1.2
pytube3==9.6.4
pytz==2022.6
pyxdg==0.26
PyYAML==5.3.1
pyzmq==20.0.0
qiskit==0.39.2
qiskit-aer==0.11.1
qiskit-ibmq-provider==0.19.2
qiskit-machine-learning==0.5.0
qiskit-terra==0.22.2
qrcode==7.3.1
qtconsole==5.0.2
QtPy==1.9.0
rapidfuzz==2.13.7
redis==4.3.5
regex==2019.8.19
reportlab==3.5.34
repoze.lru==0.7
requests==2.28.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retworkx==0.12.1
rich==13.3.1
Routes==2.4.1
rsa==4.6
rustworkx==0.12.1
scdl==2.7.3
scikit-learn==1.1.3
scipy==1.9.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
sniffio==1.3.0
soundcloud-v2==1.3.0
soupsieve==2.0.1
spotdl==4.0.7
spotipy==2.22.1
starlette==0.19.1
stevedore==4.1.1
style==1.1.0
symengine==0.9.2
sympy==1.11.1
syncedlyrics==0.2.2
system-service==0.3
systemd-python==234
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==3.1.0
toml==0.10.0
tomli==2.0.1
toolz==0.12.0
tornado==6.1
tqdm==4.50.0
traitlets==5.0.5
tweedledum==1.1.1
twitchAPI==2.2.0
typing-extensions==4.4.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unicode-slugify==0.1.3
Unidecode==1.1.1
update==0.0.1
uritemplate==3.0.1
urllib3==1.26.6
usb-creator==0.3.7
uvicorn==0.20.0
virtualenv==20.2.2
virtualenv-clone==0.5.7
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.5
websocket-client==1.4.2
websockets==10.4
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wrapt==1.14.1
xarray==2022.11.0
xkit==0.0.0
yarl==1.6.3
youtube-dl==2021.6.6
yt-dlp==2023.2.17
ytmusicapi==0.24.1
zeroconf==0.24.4
zope.interface==4.7.1
