.text-history {
    height: calc(100vh - 130px);
    max-width: 100%;
    /* max-height: 400px; */
    overflow-y: scroll;

    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;

    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-input{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px;
        margin-top: 10px; */
}

/* .btn.btn-dark {
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
}

*/

.text-input.form-control {
    width: 100%;
}



/* .btn.btn-danger {
    margin-left: 5px;
}
*/
.chat-bot-app .btn {
    width: 100%;
}

.form-input{
    margin-top: 15px;
}

.text-button{
    margin-top: 15px;
}
